$--purple: #9b32ef;
$--pink: #d922ff;
$--light-gray: #f3f3f3;
$--black: #000;
$--white: #fff;
$--black-semi-transparent: rgba(0,0,0,0.6);
$--white-semi-transparent: rgba(255,255,255,0.7);
$--gradient: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);